{:aliases
 {;; pull in specific versions of Clojure
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
  :1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

  :test {:extra-paths ["test" "src/test/clojure"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  ;; linters
  :kondo {:extra-deps {clj-kondo {:mvn/version "2019.07.31-alpha"}}
          :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
  :eastwood {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
             :main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"],:test-paths,[\"test\"]}"]}

  ;; benchmarkers
  :bench {:extra-deps {criterium {:mvn/version "RELEASE"}}}
  :measure {:extra-deps {com.clojure-goes-fast/clj-memory-meter {:mvn/version "RELEASE"}}}

  ;; REPLs
  :nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}
                       cider/cider-nrepl {:mvn/version "0.21.1"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
 
  :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "RELEASE"}}
          :main-opts ["-m" "rebel-readline.main"]}

  :rebel-cljs {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "RELEASE"}}
               :main-opts ["-m" "rebel-readline.cljs.main"]
               :extra-paths ["src"]}

  :cljs-nrepl {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                            cider/piggieback {:mvn/version "0.4.1"}
                            nrepl/nrepl {:mvn/version "0.6.0"}}
               :extra-paths ["src"]}

  ;; Create new projects
  ;; clj -A:new app co.michaelbruce/nutrack
  ;; supports app/lib/template types, can also be a url@sha or local path
  :new {:extra-deps {seancorfield/clj-new
                     {:mvn/version "0.7.7"}}
        :main-opts ["-m" "clj-new.create"]}

  ;; clojure -Sdeps '{:deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git" :sha "dccf2134bcf03726a9465d2b9997c42e5cd91bff"}}}' -m mach.pack.alpha.inject '2769a6224bfb938e777906ea311b3daf7d2220f5'
 }}
