{:deps
 {;; platform tools
  aws-cli {}
  youtube-dl {}

  ;; editor deps
  neovim {}
  vim {}
  emacs {}

  ;; development fundamentals
  git {}
  mercurial {}
  make {}
  cmake {}
  tigervnc {} ;; for remote pairing
  zerotier-one {} ;; vpn for remote pairing
  postgresql {}
  redis {}
  gimp {}
  npm {}
  jq {}
  libxml2 {:comment "contains xmllint for pretty printing"}
  ctags {}
  virtualbox {}
  ghostscript {}
  tmux {}
  htop {}
  ripgrep {}
  jdk8-openjdk {}
  jdk10-openjdk {}
  openjdk8-src {:comment "for Clojure source jumping"}
  openjdk10-src {:comment "for Clojure source jumping"}
  go {}
  docker {}
  smbclient {} ;; samba client
  terraform {}
  ;; nvm ;; AUR not supported
  ;; mssql-tools ;;  sqlcmd - AUR not supported
  ;; python ?
  ;; python-pip ?

  ;; social
  telegram-desktop {}
  keybase-gui {}

  ;; fundamentals
  noto-fonts
  noto-fonts-extra
  firefox {}
  thunderbird {}
  chromium {}
  evince {} ;; pdf viewer
  feh {} ;; image viewer
  pacgraph {} ;; probably required by citadel in future for transient deps
  ttf-inconsolata {}
  ttf-font-awesome {} ;; used to display icon glyphs
  ttf-hack {}
  ttf-dejavu {}
  xclip {}
  acpi {}
  rsync {}
  unzip {}
  zip {}
  unrar {}
  scrot {}
  ponymix {}
  readline {}
  vlc {}
  pavucontrol {}

  ;; system - the sort of thing I expect to be defaults in citadel in future
  i3-gaps {}
  i3lock {}
  i3status {}
  i3blocks {}
  ;; i3blocks-contrib {:aur true}
  sysstat {} ;; used by i3blocks
  terminus-font {}
  dmenu {}
  thunar {}
  tumbler {} ;; used to automatically create thumbnails in thunar.
  xterm {}
  sudo {}
  linux {}
  linux-headers {}
  xorg-xmessage {}
  xorg-fonts-75dpi {}
  xorg-fonts-100dpi {}
  xorg-xbacklight {}
  xorg-xev {}
  xorg-xkbevd {}
  xorg-xkbutils {}
  xorg-xrandr {}
  xorg-server-xvfb {}
  xorg-xinput {}
  xf86-video-vesa {} ;; generic backup driver
  nvidia {}
  slock {}
  xautolock {}
  light {}
  }
 }
